<div class="new-url-form p-3">
    <%= simple_form_for @link do |f| %>
        <%= f.error_notification %>
        <%= f.input :url, as: :string %>
        <%= f.button :button, "Shorten!" %>
    <% end %>
</div>