<div class="bg-blue-500 fixed w-full top-0 filter contrast-125 z-0">
  <div class="max-w-7xl mx-auto pt-14 pb-10 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl font-sans">Welcome!</h1>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-200">Type or copy in a long URL, then just tap <span class="text-gray-900">Shorten it!</span> or press Enter to get a much shorter link you can easily share. Enjoy!</p>
    </div>
  </div>
</div>