<% locals = @link.id ? { hostname: hostname } : {} %>
<% set_meta_tags title: 'URL shortener',
                 description: 'A simple URL shortener service' %>

<div class="new-search" data-controller="shortener">
    
    <div class="url-form">
        <%= render partial: 'partials/url_form', locals: locals %>
    </div>

</div>